<div class="login-wrapper">
  <div class="login-card" role="form" aria-labelledby="login-title">
    <h1 id="login-title">התחברות</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label class="input-group">
        <span class="label">דוא"ל</span>
        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          aria-describedby="emailHelp"
        />
        @if (email.touched && email.invalid) {
        <small class="error">
          @if (email.errors?.['required']) { שדה חובה. } @if
          (email.errors?.['email']) { כתובת דוא"ל אינה תקינה. }
        </small>
        }
      </label>

      <label class="input-group">
        <span class="label">סיסמה</span>
        <input
          type="password"
          formControlName="password"
          placeholder="לפחות 6 תווים"
        />
        @if (password.touched && password.invalid) {
        <small class="error">
          @if (password.errors?.['required']) { שדה חובה. } @if
          (password.errors?.['minlength']) { הסיסמה קצרה מדי. }
        </small>
        }
      </label>

      <button class="btn" type="submit" [disabled]="submitting">
        @if (!submitting) { התחבר } @if (submitting) { מתחבר… }
      </button>

       @if (serverError) {
        <div class="server-error" role="alert">
          {{ serverError }}
        </div>
      }
      
      <div class="alt-actions">
        <a class="link" routerLink="/register">הרשם</a>
      </div>
    </form>
  </div>
</div>
